<div class="container">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" (click)="toggleOpen($event)">{{heading}}</a>
          </h4>
        </div>
        <div [hidden]='!state.isOpen' class="panel-collapse">
          <div class="panel-body">
              <ng-content></ng-content>
            </div>          
        </div>
      </div>
    </div>
  </div>